<mat-toolbar color='primary'>
  <mat-toolbar-row>
    <span>Chat</span>
    <span class='spacer-center'></span>
    <mat-icon class='top-icon'>assignment_ind</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-list role='list'>
  <mat-list-item role='listitem'>Angular</mat-list-item>
  <mat-list-item role='listitem'>Graphql</mat-list-item>
  <mat-list-item role='listitem'>Graphcool</mat-list-item>
  <mat-list-item role='listitem'>Apolo</mat-list-item>
</mat-list>

<!--<router-outlet></router-outlet>-->
